* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

button,
textarea,
input {
    font-family: inherit;
    font-size: inherit;
}

:root {
    /* Color */
    --primary-color-black: #152427;
    --primary-color-black-green: #143c3c;
    --secondary-color-light-green: #e2eddf;
    --secondary-color-mid-green: #83a17d;
    --text-color-white: #fff;
    --text-color-light-gray: #7d8188;
    --text-color-black-gray: #575d5e;
}

/* Common */

a {
    text-decoration: none;
}

.btn {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-white);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: var(--primary-color-black-green);
}

.btn:hover {
    opacity: 0.85;
}

.container {
    width: 1140px;
    max-width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
}

.section-tag {
    color: var(--primary-color-black);
    font-weight: 500;
    line-height: 1.625;
}

.section-tag::before {
    position: relative;
    margin-right: 21px;
    bottom: 7px;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.section-heading {
    margin-top: 20px;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.section-heading::after {
    position: relative;
    bottom: 7px;
    margin-left: 21px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.section-sub-heading {
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
}

.section-desc {
    color: var(--text-color-light-gray);
    font-weight: 500;
    line-height: 1.625;
}

.section-sub-desc {
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* Header */

.header-wrap {
    padding: 20px 0 10px;
    display: flex;
    align-items: center;
    font-family: "Public Sans", sans-serif;
}

.header-fix {
    position: sticky;
    top: -10px;
    z-index: 999;
    background: #fff;
}

.navbar {
    margin-left: auto;
}

.navbar-list {
    display: flex;
    gap: 6px;
}

.navbar-link {
    position: relative;
    padding: 8px 16px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.navbar-link:hover,
.navbar-link--active {
    color: var(--primary-color-black);
}

.navbar-link--active::after,
.navbar-link:hover::after {
    position: absolute;
    display: block;
    content: "";
    left: 16px;
    bottom: -17px;
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green, #143c3c);
}

.header-btn {
    margin-left: 72px;
    height: 50px;
    min-width: 173px;
}

.header-bottom-line {
    height: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}

/* Hero */
.hero {
    position: relative;
    padding: 60px 0 87px;
    font-family: "Public Sans", sans-serif;
}

.hero-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 76px;
}

.hero-content {
    width: 35%;
    flex-shrink: 0;
}

.hero-title {
    max-width: 368px;
    color: var(--primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero-desc {
    margin-top: 20px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero-cta {
    margin-top: 42px;
    display: flex;
    gap: 36px;
    align-items: center;
}

.hero-cta--main {
    height: 57px;
    min-width: 173px;
}

.header-play-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-play-btn:hover span {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: var(--primary-color-black);
}

.header-play-btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--secondary-color-mid-green);
}

.header-play-btn__icon-wrap {
    display: inline-block;
    position: absolute;
    left: -7px;
    top: -8px;
}

.header-play-btn span {
    display: inline-block;
    color: #152427;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.67;
}

.hero-media {
    position: relative;
    flex: 1;
    height: 543px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

.hero-img__background {
    position: absolute;
    left: 156px;
    top: 122px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
}

.hero-img__thumb {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    z-index: 1;
    transition: 300ms;
}

.hero img:nth-of-type(2) {
    align-self: flex-end;
}

.hero-img__thumb:hover {
    transform: translateY(-8px);
}

.hero svg:first-of-type {
    position: absolute;
    top: 35px;
    left: 255px;
    color: var(--secondary-color-mid-green);
    z-index: 3;
}

.hero svg:nth-of-type(2) {
    position: absolute;
    top: 28px;
    left: 297px;
}

.hero svg:nth-of-type(3) {
    position: absolute;
    bottom: 15px;
    right: 69px;
}

.hero svg:last-of-type {
    position: absolute;
    bottom: 51px;
    right: 34px;
    color: var(--secondary-color-mid-green);
    z-index: 3;
}

/* Client */
.client {
    padding: 120px 0 60px;
}

.client-wrap {
    height: 201px;
    padding: 0 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100.5px;
    background: var(--secondary-color-light-green);
}

/* Service */
.service {
    padding: 60px 0;
}

.service-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-title {
    width: 520px;
}

.service-btn-control {
    display: flex;
    gap: 17px;
}

.service-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    color: var(--primary-color-black);
    border-radius: 50%;
    background: var(--secondary-color-light-green);
    cursor: pointer;
    transition: 200ms;
}

.service-btn-wrap:hover {
    background: var(--primary-color-black);
    color: #fff;
}

.service-list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, minmax(370px, auto));
    gap: 0 16px;
}

.service-item {
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid var(--secondary-color-light-green);
    transition: 300ms;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    transform: translateY(-5px);
}

.service-item__thumb {
    display: block;
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service-item__content {
    background: #fff;
    padding: 26px;
}

.service-item .section-sub-desc {
    margin-top: 18px;
}

/* About */
.about {
    padding: 60px 0;
}

.about-wrap {
    display: flex;
    gap: 64px;
    align-items: start;
    justify-content: space-between;
}

.about-media {
    position: relative;
    width: 53%;
    height: 557px;
    display: flex;
    align-items: flex-end;
    gap: 21px;
    flex-shrink: 0;
}

.about-img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about-img + .about-img {
    align-self: flex-start;
}

.about-media img:nth-of-type(3) {
    position: absolute;
    bottom: 8px;
    right: 9px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-media svg:first-of-type {
    position: absolute;
    top: -18px;
    left: 46px;
    z-index: 1;
}

.about-media svg:last-of-type {
    position: absolute;
    top: 20px;
    left: 82px;
}

.about-content {
    flex: 1;
}

.about-title {
    margin-top: 20px;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about-desc {
    margin-top: 11px;
}

.about-sub-desc {
    padding-bottom: 20px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    border-bottom: 1px solid var(--secondary-color-light-green);
}

.about-sub-desc + .about-sub-desc {
    margin-top: 38px;
}

.about-sub-desc span {
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}
